In [3]:
#docstrings: documentation for functions between triple "'s
#tuple: squence of immutable python objects, can't modifi values

def tuple_ex():
  """ return defined t tuple """ #docstring
  t = (1, 2, 3) #tuple
  return t
a, b, c = tuple_ex() #assigning tuple values into a, b, c respectively 
print(a, b, c)

1 2 3

In [ ]:
# First local scope searched, then global scope searched,
#if two of them cannot be found, lastly built in scope searched.

#builtins:
import builtins
dir(builtins)

In [3]:
#nested function

def square():
  """ return square of value """
  def add():
    """ add two local variables """
    x = 2
    y = 3
    z = x + y
    return z
  return add()**2 #to the power of 2
print(square())

25

In [4]:
#default arguments

def f(a, b = 1, c = 2):
  y = a + b + c
  return y
print(f(5)) #yields 8

print(f(5, 4, 3)) #yields 12 with new arguments instead of defaults

8
12

In [12]:
#flexible arguments *args

def f(*args):
  for i in args:
    print(i)
f(1)
print("")
f(1, 2, 3, 4)

#with **kwargs (dictionary)

def f(**kwargs):
  """ print key and value of dictionary """
  for key, value in kwargs.items():
    print(key, ": ", value)
f(country = 'spain', capital = 'madrid', population = 123456)

1

1
2
3
4
country :  spain
capital :  madrid
population :  123456

In [13]:
#lambda function
square = lambda x: x**2 #x is the name of the argument
print(square(4))

tot = lambda x, y, z: x + y + z #x, y, z are arguments
print(tot(1, 2, 3))

16
6

In [16]:
#anonymus function = similar to lambda
#func but takes more than one arguments
#map(func, seq): applies the func to all items in the list

number_list = [1, 2, 3]
y = map(lambda x:x**2, number_list) #taking the elements of the number_list as arguments
print(list(y)) #and taking square of all elements

[1, 4, 9]

In [18]:
#iteration example

name = 'ronaldo'
it = iter(name)
print(next(it)) #printing next iteration
print(*it) #print remaining iteration

r
o n a l d o

In [19]:
#zip example

list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
z = zip(list1, list2) #zipping lists
print(z) #zip location
z_list = list(z) #making the zip a list, 0 index to 0 index
print(z_list)

<zip object at 0x7fd056569050>
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [21]:
un_zip = zip(*z_list) #unzipping
un_list1, un_list2 = list(un_zip) #unzip returns a tuple
print(un_list1) #creating the list from first entries of each ()
print(un_list2) #from seconds
print(type(un_list2)) #print type of the unzipped list (tuple)

(1, 2, 3, 4)
(5, 6, 7, 8)
<class 'tuple'>

In [22]:
#list comprehension example

num1 = [1, 2, 3]
num2 = [i + 1 for i in num1] #adding 1 to every number in num1 and assigning to num2 one by one
print(num2)

[2, 3, 4]

In [25]:
#conditionals on iterable
num1 = [2, 5,10,15]
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]
print(num2)

[-3, 0, 100, 20]

In [6]:
import pandas as pd
data = pd.read_csv('../input/pokemon.csv')

threshold = sum(data.Speed)/len(data.Speed) #average
data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level", "Speed"]] #todo learning loc

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58

In [7]:
#learned:
  #defining a function
  #scope
  #nested func
  #default and flexible arguments
  #lambda func
  #anonymus func
  #iterators
  #list comprehension