<a href="https://colab.research.google.com/github/Thynic/machine-learning/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [9]:
#creating a 5x2 data
#giving columns names
#introducing them to the program

my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])
my_column_names = ['temperature', 'activity']
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [7]:
#creating a new column and giving it the value of activity column + 2
#and program automatically recognises it as dataframe's value

my_dataframe["adjusted"] = my_dataframe["activity"] + 2
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [8]:
#printing different parts of the dataframe

print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

In [10]:
#creating a 3x4 data with random integers
#giving requested column names
#introducing them to the dataframe

my_task = np.array([[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]])
my_task_columns = ['Eleanor', 'Chidi', 'Tahani', 'Jason']
my_task_dframe = pd.DataFrame(data=my_task, columns=my_task_columns)

   Eleanor  Chidi  Tahani  Jason
0        1      2       3      4
1        2      3       4      5
2        3      4       5      6

In [17]:
#printing the dataframe
#printing the Eleanor column

print(my_task_dframe, '\n')
print(my_task_dframe.iloc[1, 0])

   Eleanor  Chidi  Tahani  Jason
0        1      2       3      4
1        2      3       4      5
2        3      4       5      6

2

In [20]:
#creating a fifth column named Janet and
#giving it the row-to-row sums of Tahani and Jason

my_task_dframe['Janet'] = my_task_dframe['Tahani'] + my_task_dframe['Jason']
print(my_task_dframe)

   Eleanor  Chidi  Tahani  Jason  Janet
0        1      2       3      4      7
1        2      3       4      5      9
2        3      4       5      6     11